  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: none;
  }

  .navbar {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    
  }
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    height: 100%;
    color: #fff;
    margin-bottom: 0;
  }

  .container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    background-image: url('images/backg.jpg'); 
    background-size: cover;
    margin-top: 50px;
  }
  .logo-container {
    flex: 1;
    display: grid;
    align-items: center;
  }
  .logo {
    width: 100px;
    height: 30px;
    cursor: pointer;
  }
  .menu-container {
    flex: 6;
    display: grid;
    align-items: center;
  }
  .menu-list {
    display: flex;
    list-style: none;
    cursor: pointer;
  }
  .menu-list-item {
    margin: 30px;
    transition: all 0.3s ease-in-out;
  }
  .menu-list-item:hover {
    transform: scale(0.8);
  }
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .profile-picture {
    width: 10%;
    height: 10%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  .profile-picture:hover {
    transform: scale(0.8);
  }
  .profile-text-container {
    margin: 0 15px;
  }
  .toggle {
    width: 40px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .toggle-icon {
    color: goldenrod;
    font-size: 13px;
  }
  .toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
  }
  .sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
  }
  .left-menu-icon {
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .left-menu-icon:hover {
    transform: scale(0.8);
  }


.container.active {
  background-color: white;
}
.movie-list-title.active {
  color: #151515;
}
.navbar-container.active {
  background-color: #fff;
  color: #151515;
}
.toggle.active {
  background-color: #151515;
}
.toggle-ball.active {
  background-color: #fff;
  transform: translateX(-20px);
}
.sidebar.active {
  background-color: #fff;
}
.left-menu-icon.active {
  color: #151515;
}
  

  @media screen and (max-width: 600px) {
    .sidebar {
      display: none;
    }
    .sidebar.active {
      display: none;
    }
    .menu-list {
      display: none;
    }
    .navbar-container {
      padding: 0 15px;
    }
    .profile-picture {
      display: none;
    }
    .profile-text {
      display: none;
    }
    .fa-solid.fa-caret-down {
      display: none;
    }
    .logo {
      width: 80px;
      height: 25px;
    }
    .container {
      min-height: calc(450vh - 50px);
    }
    .content-container {
      margin-left: 0px;
    }
    .featured-title {
      width: 300px;
      line-height: 1.2;
      font-size: 25px;
      text-align: center;
    }
    .featured-desc {
      font-size: 20px;
    }
    .featured-button {
      font-size: 15px;
      padding: 12px 20px;
    }
  }

.todo-app {
    width: 800px;
    margin: auto;
    align-items: center;
    z-index: 1;
    position: relative;
}

.input-section {
    display: grid;
    grid-template-columns: 2;
    align-items: center;
}

.input-section input,
.input-section button {
    margin: 100px 0;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 24px;
    margin-right: 50px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-custom {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #eee;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.checkbox-container input:checked ~ .checkbox-custom::after {
    content: '❤️';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.95);
    }
}




  .input-section {
    display: flex;
    align-items: center;
    height: 70px;
  }
  .input-section input[type="text"] {
    flex-grow: -1;
    padding: 16px;
    border: none;
    background-color: rgba(0, 0, 0, 0.728);
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    -webkit-box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
    box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
  }
  .input-section input[type="text"]::placeholder {
    color: #ddd;
  }
  .input-section input[type="text"]:focus {
    outline: none;
    background-color: #555;
  }
  .input-section button {
    margin-left: 10px;
    padding: 16px 23px;
    border: none;
    background-color: rgba(33, 33, 33, 0.315);
    color: #ffffff;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
    box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
  }
  .input-section button:hover {
    outline: none;
    background-color: #555;
  }
  .input-section button[type="text"]::placeholder {
    color: #ddd;
    border-radius: 5px;
  }
  .add {
    margin-right: 10px;
  }
  .todos {
    width: 100%;
    height: 500px;
    margin-top: 10px;
    padding: 10px 5px;
    backdrop-filter: blur(10px);

    border-radius: 30px;
    -webkit-box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
    box-shadow: 9px 21px 30px -19px rgba(0, 0, 0, 0.63);
  }
  .todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .todo-list li {
    display: flex;
    align-items: center;
    padding: 7px 30px;
    background-color: rgb(0, 0, 0);
    border-radius: 80px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .todo-list li span {
    margin-left: 10px;
    color: #fff;
  }
  .delete-button {
    padding: 3px;
    border-radius: 80px;
  }
  .delete-button :hover {
    outline: none;
    background-color: #555;
  }
  .todo-text {
    color: #fff !important;
    margin-right: auto;
    font-size: 16px !important;
  }
  .span-button {
    margin-left: auto;
    display: block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px !important;
  
  }
  .span-button:hover {
    background-color: rgb(52, 53, 53);
    border-radius: 80px;
    color: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
  }
  .face {
    width: 100px;
    z-index: 100;
    height: 100px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 30%;
  }
  .not-found{
    color: #fff;
    top: 60%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 30%;
  }
  
